<div class="danger">
	<a href="/Addons.aspx?aid=4485"></a>
</div>

<div class="accordion">
	<h3><span>Для новичков</span></h3>

	<ul>
		<li><a href="/Instruction.aspx">Инструкция</a></li>
		<li><a href="/Faq.aspx">Вопросы-ответы</a></li>
		<li><a href="/Guestbook/Messages.aspx?topic=42457">Fair Play: Давайте играть честно!</a></li>
		<li><a href="/Guestbook.aspx?section=2875">Поиск команды и игроков</a></li>
	</ul>

	<h3><span>Пригодится</span></h3>

	<ul>
		<li><a href="http://2gis.ru/">2GIS</a></li>
		<li><a href="http://google.com/earth/">Google Планета Земля</a></li>
		<li><a href="http://sasgis.org/">SASPlanet</a></li>
	</ul>
</div>

<div class="administration">
	<h3><a href="/DomainAdministration.aspx">Администрация домена</a></h3>

	<ul>
		<li>
			<h3>Данил (<a href="/UserDetails.aspx?uid=71057">Doctor1</a>)</h3>
			<span>Тел.:</span> <strong>+79644022538</strong>

			<div>
				Поддержание порядка, разрешение спорных ситуаций, помощь авторам
			</div>
		</li>

		<li>
			<h3>Станислав (<a href="/UserDetails.aspx?uid=91756">Creadome</a>)</h3>
			<span>Тел.:</span> <strong>+79246502110</strong>

			<div>
				Техническая поддержка
			</div>
		</li>

		<li>
			<h3>Виталий (<a href="/UserDetails.aspx?uid=83067">Exploder</a>)</h3>
			<span>Тел.:</span> <strong>+79021667667</strong>

			<div>
				Подготовка и проведение корпоративных игр, соревнований, тимбилдинг-проектов
			</div>
		</li>
	</ul>
</div>