#DivTopDesign, header { height: 170px; }

header { position: absolute; left: 0; width: 100%; background: url('../images/panorama.jpg') #000; }
header .logo { position: absolute; z-index: 2; top: 0; left: 0; display: block; width: 275px; height: 170px; background: 0 25px url('../images/logo/evolution/logo.png'); }

header .stars { position: absolute; top: 30px; left: 35px; width: 0; height: 50px; background: url('../images/logo/evolution/stars.png'); overflow: visible !important; }
header .stars:before { content: ''; display: block; position: absolute; width: 210px; height: 50px; background: url('../images/logo/evolution/stars.png'); opacity: .25; }

#boxMovie,
#boxMovie ~ *,
#boxCenterIntro { display: none; }

#tdContentLeft { width: 210px; }
#tdContentRight { background: #062400; }
#DivRightDesign { width: 210px; padding: 15px; }

#vk-group { border: 1px solid #0f0; border-radius: 5px; padding: 5px; margin-bottom: 15px; }

.administration { border: 1px solid #ff0; background: #181c00; border-radius: 5px; padding: 15px 10px; margin-bottom: 15px; text-align: center; }
.administration a { color: #ff0; }

.danger { border: 1px solid #0f0; border-radius: 5px; padding: 10px 0; margin-bottom: 15px; }
.danger a { display: block; width: 195px; height: 240px; margin: 0 auto; background: url('../images/danger.gif'); }

#DivBottomDesign { background: url('http://d1.endata.cx/images/en016.gif') top left; text-align: center; padding: 20px 240px 20px 0; position: relative; }
#DivBottomDesign:after { content: ''; display: inline-block; width: 140px; height: 155px; background: url('../images/hare.png'); }

.hare { position: absolute; left: 50%; top: 40px; margin-left: -40px; text-align: left; }

.siberia td { background: #330200; color: #c00; }
.siberia td a { color: #f00; }
.siberia td span.green { color: #c00; }

.divDescr img { max-width: 100%; height: auto !important; }